<!--<div class="bikes-container">-->
    <%= render "searchbar" %>

  <div class="bike-map-flex row">
    <div class="col bike-cards px-2">
    <%= render "card_detail" %>
    </div>

    <div class="col map-card"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  </div>
<!--</div>-->
